.loginContainer {
    margin-top: 10%;
    width: 35vw !important;
    background-color: rgb(255, 255, 255);
    padding: 3em;
    border-radius: 8px;
    border: 2px rgb(199, 199, 199) solid;
}

.loginBtn {
    border: 1px rgb(190, 190, 190) solid !important;
}