.loginContainer {
    margin-top: 10%;
    width: 35vw !important;
    background-color: rgb(251, 255, 243);
    padding: 3em;
    border-radius: 8px;
    border: 2px red solid;
}

.loginBtn {
    border: 1px rgb(231, 141, 183) solid !important;
}